
/*******************/
/*** Base styles ***/
/*******************/

:root {
  color-scheme: light dark;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    background: black;
    color: #eee;
    padding: 20px;
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    margin: 0px;
    overflow-wrap: break-word;
}

body > main, body > header, body > footer {
    margin-left: auto;
    margin-right: auto;
}

main {
    clear: both;
    margin-top: 50px;
    display: block;
    overflow: auto;
}

main ol li, main ul li {
    margin-bottom: 7px;
}

main ul, main ol {
    padding-left: 30px;
}

aside {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    width: 300px;
    margin-right: 25px;
    clear: both;
}

aside:has(> details:not([open])) {
    width: 100%; 
}

aside:has(> details:not([open])) ~ main {
    clear: both;
}

aside summary + * {
    margin-top: 20px;
}

aside ~ main {
    clear: none;
}

aside ul, aside ol {
    font-size: 16px;
    padding-left: 25px;
    font-weight: 500;
}

aside nav li a {
    text-decoration: none;
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 7px;
}

a {
    color: rgb(150,250,250);
}

a:hover {
    color: rgb(130,230,230);
    text-decoration: underline;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 23px;
}

h5 {
    font-size: 19px;
}

h6 {
    font-size: 16px;
}

main > h1 {
    margin-top: 0px;
}

button {
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    background: rgb(30,130,130);
    color: #fff;
    display: block;
}

button:hover {
    background: rgb(10,110,110);
}

button:disabled {
    background: #444;
    cursor: not-allowed;
    color: #bbb;
}

button ~ button {
    margin-top: 10px;
}

code {
    background: #222;
    color: #ddd;
    font-size: 17px;
    padding: 1px;
}

pre {
    background: #222;
    color: #ddd;
    padding: 15px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

summary {
    cursor: pointer;
    user-select: none;
}

details:not(header > details) {
    background: #111;
    padding: 15px;
    border: 1px solid #333;
    margin-top: 15px;
    margin-bottom: 15px;
}

blockquote {
    border-left: 4px solid #444;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    color: #aaa;
    font-style: italic;
}

figure {
    border: 1px solid #333;
    margin: 0px;
}

figcaption {
    padding: 2px;
    text-align: center;
    font-size: 16px;
    color: #ccc;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

dialog {
    border: none;
    border-radius: 8px;
    padding: 15px;
    background: #111;
    color: #eee;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1000;
}

dialog > h1, dialog > h2, dialog > h3 {
    margin-top: 0px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

small {
    font-weight: 500;
}

hr {
    border: none;
    height: 1px;
    background-color: #333;
}

del {
    color: #FFCCCB;
}

ins {
    color: #90EE90;
    text-decoration: none;
}

kbd {
    background: #222;
    color: #eee;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 2px 5px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

/**************/
/*** Header ***/
/**************/

header a {
    text-decoration: none;
}

header > a {
    color: #eee;
    float: left;
    margin-right: 30px;
    font-weight: bold;
}

header > a:hover {
    text-decoration: none;
    color: #eee;
}

header > nav {
    float: right;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: rgb(150,250,250);
    font-size: 15px;
    font-weight: 500;
}

/*******************/
/*** Mobile menu ***/
/*******************/

header > details {
    display: none;
    background: #111;
    position: absolute;
    right: 20px;
    top: 15px;
    border: 1px solid #333;
    max-width: 70%;
    z-index: 100;
}

header > details > nav ul li {
    display: block;
    margin-right: 0px;
}

header > details > nav > ul li a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #333;
    min-width: 100px;
    clear: both;
}

header > details > nav > ul li:last-child a {
    border-bottom: none;
}

header > details > summary {
    font-size: 16px;
    font-weight: bold;
    float: right;
    padding: 5px 10px;
    background: #111;
}

@media (max-width: 750px) {
    header > nav {
        display: none;
    }

    header > details {
        display: block;
    }

    aside, main {
        width: 100%;
    }

    aside {
        height: auto;
    }
}

/*************/
/*** Forms ***/
/*************/

form {
    overflow: hidden;
}

fieldset {
    border: 1px solid #333;
    padding: 15px;
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 7px;
}

input, select, textarea {
    font-size: 16px;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    background: #11191f;
    color: #eee;
    border: 1px solid #374956;
    border-radius: 4px;
}

input::placeholder, textarea::placeholder {
    color: #888;
}

textarea {   
    height: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
}

form .helper-text {
    font-size: 14px;
    color: #ccc;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: right !important;
}

/* input search */
input[type="search"] {
    border-radius: 25px;
}

input[type="file"]::file-selector-button {
    background: rgb(30,130,130);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="file"]::file-selector-button:hover {
    background: rgb(10,110,110);
}

input[type="checkbox"] {
    width: auto;
    margin-bottom: 25px;
    transform: scale(1.5);
    position: relative;
    bottom: 8px;
    accent-color: rgb(30,130,130);
}

input:disabled, select:disabled, textarea:disabled {
    background: #333;
    color: #666;
    cursor: not-allowed;
    border: 1px solid #444;
}

input[type="range"] {
    width: 100%;
    accent-color: rgb(30,130,130);
}

input[type="color"] {
    padding: 3px;
    height: 40px;
}

input[type="radio"] {
    width: auto;
    margin-bottom: 15px;
    transform: scale(1.5);
    position: relative;
    bottom: 4px;
    accent-color: rgb(30,130,130);
}


/**************/
/*** Tables ***/
/**************/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

th {
    background: #222;
}

table caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 10px;
}

tfoot td {
    font-weight: bold;
    background: #222;
}

td button {
    margin-bottom: 5px;
    margin-top: 5px;
    display: inline-block;
}

/**************/
/*** Footer ***/
/**************/

footer {
    margin-top: 70px;
    padding-bottom: 20px;
}

footer > nav > ul {
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer > nav > ul li {
    display: inline;
    margin-right: 15px;
}

footer> nav > ul li a {
    color: rgb(150,250,250);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

/*********************/
/*** Centered page ***/
/*********************/

main.centered-page {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

main.centered-page h1,
main.centered-page p {
    text-align: center;
}

/***********************/
/*** Helper classess ***/
/***********************/

#skip-to-main {
    display: block;
    position: absolute;
    left: -999px;
    top: -999px;
    background: #111;
    color: #eee;
    padding: 10px 15px;
    z-index: 100;
    text-decoration: none;
}

#skip-to-main:focus {
    top: 0;
    left: 0;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

aside.right-sidebar {
    float: right;
    margin-left: 25px;
    margin-right: 0px;
}

[role="alert"] {
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

[role="alert"] a {
    font-weight: bold;
    color: inherit;
}

[role="alert"].red-alert {
    border: 1px solid #ff5555;
    background: #330000;
    color: #ffaaaa;
}

[role="alert"].yellow-alert {
    border: 1px solid #ffdd55;
    background: #332a00;
    color: #ffecaa;
}

[role="alert"].green-alert {
    border: 1px solid #55ff55;
    background: #003300;
    color: #aaffaa;
}

.figure-right, .img-right {
    display: block;
    float: right;
    max-width: 40%;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.figure-left, .img-left {
    display: block;
    float: left;
    max-width: 40%;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 15px;
}

@media (max-width: 700px) {
    .figure-right, .img-right, .figure-left, .img-left {
        float: none;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    margin-top: 20px;
}

.grid > div {
    margin-bottom: 15px;
}

.grid a img {
    border-radius: 10px;
    display: block;
}

.responsive-table {
    overflow-x: auto;
}

#example-site-icon {
    vertical-align: top;
    margin-right: 9px;
    width: 15px;
}
