<!DOCTYPE html>
<html lang="en">
<head>
    <title>vanilla-web-templates</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../vanilla-web-templates.css">
    <script src="../vanilla-web-templates.js"></script>
</head>
<body>

<a href="#main" id="skip-to-main">Skip to main content</a>

<header class="container">
    <a href="../index.html"><img src="../images/vanilla.png" id="example-site-icon" />vanilla-web-templates</a>
    <nav aria-label="Main Navigation">
        <ul>
            <li><a href="../index.html#templates">Templates</a></li>
            <li><a href="../index.html#usage">Usage</a></li>
            <li><a href="https://github.com/dandalpiaz/vanilla-web-templates">GitHub</a></li>
            <li><button id="light-toggle" onclick="toggleLight()" aria-label="toggle color mode">🌗</button></li>
        </ul>
    </nav>
    <details>
        <summary> Menu </summary>
        <nav aria-label="Main Navigation">
            <ul>
                <li><a href="../index.html#templates">Templates</a></li>
                <li><a href="../index.html#usage">Usage</a></li>
                <li><a href="https://github.com/dandalpiaz/vanilla-web-templates">GitHub</a></li>
                <li><button id="light-toggle" onclick="toggleLight()" aria-label="toggle color mode">🌗</button></li>
            </ul>
        </nav>
    </details>
</header>

<main id="main" class="container">

    <!--<div role="alert" class="yellow-alert">Sample page, forms do not function</div>-->

    <h1>Heading Level 1 - Article/Blog Post (template)</h1>

    <p><code><em>Last Updated: 1/14/2025</em></code></p>

    <figure class="figure-right">
        <a href="https://picsum.photos/id/29/1200/800">
            <img src="https://picsum.photos/id/29/1200/800" alt="Sample Article Image" />
        </a>
        <figcaption>Fig.1 - Sample Article Image</figcaption>
    </figure>

    <p>Egestas sed sed risus pretium quam vulputate dignissim. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Ultricies tristique nulla aliquet enim tortor at auctor urna. Posuere urna nec tincidunt praesent semper. Eget sit amet tellus cras adipiscing enim eu turpis.</p>

    <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor elit sed vulputate mi. Pellentesque elit ullamcorper dignissim cras.</p>
    </blockquote>

    <p>Donec adipiscing tristique risus nec feugiat in fermentum. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Aliquet porttitor lacus luctus accumsan tortor posuere. Id diam maecenas ultricies mi eget mauris. Congue quisque egestas diam in arcu cursus euismod quis. Metus dictum at tempor commodo. At risus viverra adipiscing at in tellus integer feugiat. Rhoncus mattis rhoncus urna neque.</p>

    <h2>Heading Level 2</h2>

    <table>
        <thead>
            <tr>
                <th style="text-align:left;">Table Header 1</th>
                <th style="text-align:center;">Table Header 2</th>
                <th style="text-align:right;">Table Header 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:left;">Table Data 1</td>
                <td style="text-align:center;">Table Data 3</td>
                <td style="text-align:right;">100</td>
            </tr>
            <tr>
                <td style="text-align:left;">Table Data 2</td>
                <td style="text-align:center;">Table Data 4</td>
                <td style="text-align:right;">200</td>
            </tr>
        </tbody>
    </table>

    <h3>Heading Level 3</h3>

    <figure class="figure-left">
        <img src="https://picsum.photos/id/29/800/400" alt="Sample Article Image" />
        <figcaption>Fig.1 - Sample Article Image</figcaption>
    </figure>

    <p>Purus ut faucibus pulvinar elementum. Amet est placerat in egestas erat imperdiet sed euismod nisi. Fames ac turpis egestas maecenas pharetra convallis posuere morbi leo. Mauris vitae ultricies leo integer malesuada nunc vel risus commodo.</p>

    <p>Aliquet bibendum enim facilisis gravida neque convallis a cras. Cras semper auctor neque vitae tempus quam pellentesque nec. Et netus et malesuada fames ac turpis egestas sed. Cras semper auctor neque vitae tempus quam pellentesque nec. Amet commodo nulla facilisi nullam vehicula. Auctor elit sed vulputate mi. Pellentesque elit ullamcorper dignissim cras. Venenatis lectus magna fringilla urna porttitor. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Duis ut diam quam nulla. Vestibulum morbi blandit cursus risus at ultrices mi. Non tellus orci ac auctor augue mauris augue neque. Enim facilisis gravida neque convallis a cras semper auctor neque.</p>

    <h4>Heading Level 4</h4>

    <img src="https://picsum.photos/id/29/1200/400" alt="Sample Article Image" />

    <ul>
        <li>List Item 1
            <ul>
                <li>Sub List Item 1</li>
                <li>Sub List Item 2</li>
            </ul>
        </li>
        <li>List Item 2</li>
        <li>List Item 3</li>
    </ul>

</main>

<footer class="container">
    <nav aria-label="Footer Navigation">
        <ul>
            <li><a href="">Terms</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</footer>

</body>
</html>

