<!DOCTYPE html>
<html lang="en">
<head>
    <title>vanilla-web-templates</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../vanilla-web-templates.css">
    <script src="../vanilla-web-templates.js"></script>
</head>
<body>

<a href="#main" id="skip-to-main">Skip to main content</a>

<header class="container">
    <a href="../index.html"><img src="../images/vanilla.png" id="example-site-icon" />vanilla-web-templates</a>
    <nav aria-label="Main Navigation">
        <ul>
            <li><a href="../index.html#templates">Templates</a></li>
            <li><a href="../index.html#usage">Usage</a></li>
            <li><a href="https://github.com/dandalpiaz/vanilla-web-templates">GitHub</a></li>
            <li><button id="light-toggle" onclick="toggleLight()" aria-label="toggle color mode">🌗</button></li>
        </ul>
    </nav>
    <details>
        <summary> Menu </summary>
        <nav aria-label="Main Navigation">
            <ul>
                <li><a href="../index.html#templates">Templates</a></li>
                <li><a href="../index.html#usage">Usage</a></li>
                <li><a href="https://github.com/dandalpiaz/vanilla-web-templates">GitHub</a></li>
                <li><button id="light-toggle" onclick="toggleLight()" aria-label="toggle color mode">🌗</button></li>
            </ul>
        </nav>
    </details>
</header>

<main id="main" class="container">

    <!--<div role="alert" class="yellow-alert">Sample page, forms do not function</div>-->

    <h1>Modal-based Editing (template)</h1>

    <details>
        <summary>About this template</summary>
        <p>TBD</p>
    </details>

    <h2>Staff List</h2>

    <dialog id="sample-modal">

        <h2>Add Staff Member</h2>

        <form>
            <fieldset>
                <legend>Add Staff Member</legend>
                <label for="name">Name*</label>
                <input type="text" id="name" name="name" placeholder="Jane Doe" aria-describedby="helper1" required />
                <p id="helper1" class="helper-text">(*required)</p>

                <label for="email">Email Address*</label>
                <input type="text" id="email" name="email" placeholder="janedoe@gmail.com" aria-describedby="helper2" required />
                <p id="helper2" class="helper-text">(*required)</p>

                <label for="phone">Phone Number*</label>
                <input type="text" id="phone" name="phone" placeholder="555-123-4567" aria-describedby="helper3" required/>
                <p id="helper3" class="helper-text">(*required)</p>

                <button type="submit">Add Staff Member</button>
                <button onclick="document.getElementById('sample-modal').close();">Cancel</button>
            </fieldset>
        </form>
    </dialog>

    <button onclick="document.getElementById('sample-modal').showModal();">Add Staff Member</button>

    <div class="responsive-table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jane Doe</td>
                    <td>janedoe@gmail.com</td>
                    <td>555-123-4567</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>John Smith</td>
                    <td>johnsmith@gmail.com</td>
                    <td>555-987-6543</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
            </tbody>
        </table>
    </div>

</main>

<footer class="container">
    <nav aria-label="Footer Navigation">
        <ul>
            <li><a href="">Terms</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</footer>

</body>
</html>

