<!DOCTYPE html>
<html lang="en">
<head>
    <title>vanilla-web-templates</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../vanilla-web-templates.css">
    <script src="../vanilla-web-templates.js"></script>
</head>
<body>

<a href="#main" id="skip-to-main">Skip to main content</a>

<header>
    <a href="../index.html"><img src="../images/vanilla.png" id="example-site-icon" />vanilla-web-templates</a>
    <nav aria-label="Main Navigation">
        <ul>
            <li><a href="../index.html#templates">Templates</a></li>
            <li><a href="../index.html#usage">Usage</a></li>
            <li><a href="https://github.com/dandalpiaz/vanilla-web-templates">GitHub</a></li>
            <li><button id="light-toggle" onclick="toggleLight()" aria-label="toggle color mode">🌗</button></li>
        </ul>
    </nav>
    <details>
        <summary> Menu </summary>
        <nav aria-label="Main Navigation">
            <ul>
                <li><a href="../index.html#templates">Templates</a></li>
                <li><a href="../index.html#usage">Usage</a></li>
                <li><a href="https://github.com/dandalpiaz/vanilla-web-templates">GitHub</a></li>
                <li><button id="light-toggle" onclick="toggleLight()" aria-label="toggle color mode">🌗</button></li>
            </ul>
        </nav>
    </details>
</header>

<aside class="right-sidebar">
    <details open>
        <summary>Related Links</summary>
        <nav aria-label="Related Links">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="grid.html">Grid Example</a></li>
                <li><a href="crud.html">CRUD Example</a></li>
                <li><a href="contact.html">Contact Form</a></li>
                <li><a href="login.html">Login Form</a></li>
            </ul>
        </nav>
        <details>
            <summary>Test 123</summary>
            <p>This is a test.</p>
        </details>
    </details>
</aside>

<main id="main">

    <!--<div role="alert" class="yellow-alert">Sample page, forms do not function</div>-->

    <h1>Grid (template)</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <input type="search" placeholder="Filter Search..." aria-label="Search through items" />

    <div class="grid" role="list">
        <div role="listitem">
            <a href="https://example.com">
                <img src="https://picsum.photos/id/29/400/225" alt="Placeholder image 1" />
                <small>Item 1</small>
            </a>
        </div>
        <div role="listitem">
            <a href="https://example.com">
                <img src="https://picsum.photos/id/29/400/225" alt="Placeholder image 1" />
                <small>Item 1</small>
            </a>
        </div>
        <div role="listitem">
            <a href="https://example.com">
                <img src="https://picsum.photos/id/29/400/225" alt="Placeholder image 1" />
                <small>Item 1</small>
            </a>
        </div>
        <div role="listitem">
            <a href="https://example.com">
                <img src="https://picsum.photos/id/29/400/225" alt="Placeholder image 1" />
                <small>Item 1</small>
            </a>
        </div>
        <div role="listitem">
            <a href="https://example.com">
                <img src="https://picsum.photos/id/29/400/225" alt="Placeholder image 1" />
                <small>Item 1</small>
            </a>
        </div>
        <div role="listitem">
            <a href="https://example.com">
                <img src="https://picsum.photos/id/29/400/225" alt="Placeholder image 1" />
                <small>Item 1</small>
            </a>
        </div>
    </div>

</main>

<footer>
    <nav aria-label="Footer Navigation">
        <ul>
            <li><a href="">Terms</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</footer>

<script>
if (window.innerWidth < 750) {
  const asideDetails = document.querySelector('aside details');
  if (asideDetails) {
    asideDetails.removeAttribute('open');
  }
}
</script>

</body>
</html>

