<!DOCTYPE html>
<html lang="en">
<head>
    <title>vanilla-web-templates</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../vanilla-web-templates.css">
    <script src="../vanilla-web-templates.js"></script>
</head>
<body>

<a href="#main" id="skip-to-main">Skip to main content</a>

<header>
    <a href="../index.html"><img src="../images/vanilla.png" id="example-site-icon" />vanilla-web-templates</a>
    <nav aria-label="Main Navigation">
        <ul>
            <li><a href="../index.html#templates">Templates</a></li>
            <li><a href="../index.html#usage">Usage</a></li>
            <li><a href="https://github.com/dandalpiaz/vanilla-web-templates">GitHub</a></li>
            <li><button id="light-toggle" onclick="toggleLight()" aria-label="toggle color mode">🌗</button></li>
        </ul>
    </nav>
    <details>
        <summary> Menu </summary>
        <nav aria-label="Main Navigation">
            <ul>
                <li><a href="../index.html#templates">Templates</a></li>
                <li><a href="../index.html#usage">Usage</a></li>
                <li><a href="https://github.com/dandalpiaz/vanilla-web-templates">GitHub</a></li>
                <li><button id="light-toggle" onclick="toggleLight()" aria-label="toggle color mode">🌗</button></li>
            </ul>
        </nav>
    </details>
</header>

<aside class="right-sidebar">
    <details open>
        <summary>Create, Search, Sort, & Filter</summary>

        <button style="width: 100%;">+ New Post</button>

        <p>Use the options below to search, sort, or filter posts.</p>

        <label for="posts-search">Search Posts:</label>
        <input type="search" name="posts-search" id="posts-search" placeholder="Search...">
        
        <label for="posts-sort">Sort Posts By:</label>
        <select id="posts-sort" name="posts-sort">
            <option>Hot</option>
            <option>New</option>
            <option>Top</option>
            <option>Rising</option>
        </select>

        <label for="posts-from">Show Posts From:</label>
        <select id="posts-from" name="posts-from">
            <option>Default</option>
            <option>All time</option>
            <option>Past 24 hours</option>
            <option>Past week</option>
            <option>Past month</option>
            <option>Past year</option>
        </select>
    </details>
</aside>

<main id="main">

    <!--<div role="alert" class="yellow-alert">Sample page, forms do not function</div>-->

    <h1>Posts Aggregator (template)</h1>

    <div style="margin-bottom: 15px; margin-top: 15px;">
        <img style="float: left;" src="https://picsum.photos/id/1011/77/77" alt="Placeholder image example" />
        <div style="vertical-align: top; margin-left: 90px; position: relative; bottom: 8px;">
            <a href="#" style="text-decoration: none;  font-weight: 500;">A Sample Post Title Goes Here and Also Here</a><br>
            <small style="font-weight: 400;">9 hours ago by testuser to r/test</small><br>
            <small>123 comments // ▲ 456 upvotes</small>
        </div>
    </div>

    <div style="margin-bottom: 15px;">
        <img style="float: left;" src="https://picsum.photos/id/1012/77/77" alt="Placeholder image example" />
        <div style="vertical-align: top; margin-left: 90px; position: relative; bottom: 8px;">
            <a href="#" style="text-decoration: none;  font-weight: 500;">Another Sample Post Title Goes Here and Also Here</a><br>
            <small style="font-weight: 400;">1 day ago by anotheruser to r/test</small><br>
            <small>78 comments // ▲ 123 upvotes</small>
        </div>
    </div>

    <div style="margin-bottom: 15px;">
        <img style="float: left;" src="https://picsum.photos/id/1013/77/77" alt="Placeholder image example" />
        <div style="vertical-align: top; margin-left: 90px; position: relative; bottom: 8px;">
            <a href="#" style="text-decoration: none;  font-weight: 500;">Yet Another Sample Post Title Goes Here and Also Here</a><br>
            <small style="font-weight: 400;">3 days ago by sampleuser to r/test</small><br>
            <small>34 comments // ▲ 89 upvotes</small>
        </div>
    </div>

</main>

<footer>
    <nav aria-label="Footer Navigation">
        <ul>
            <li><a href="">Terms</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</footer>

<script>
if (window.innerWidth < 750) {
  const asideDetails = document.querySelector('aside details');
  if (asideDetails) {
    asideDetails.removeAttribute('open');
  }
}
</script>

</body>
</html>

